@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700');

/* --------------------- Header */

a {
    color: #000000;
}

.motto {
    text-align: center;
    font-size: 3em;
    font-family: "Oswald";
    color: white;
}

.motto-2 {
    font-size: 2em;
    text-align: center;
    font-family: "Oswald";
    color: white;
}

.brand-logo {
    margin-left: 20px;
}

@media only screen and (max-width: 600px) {
    .brand-logo {
        left: 40%;
    }
}

.nav-wrapper {
    background-color: #537d91;
}

.add-header {
    margin-left: 3em;
}



/* ---------------------------------------Images */

.index-bg {

  /* Full height */
  height: auto; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
}

.food-pic{
    width: 100%;
    height: 250px;
    text-align: center;
}

.food-picture{
    max-height: 100%;
    max-width: 100%;
}

/* ---------------------------------------Cards */

.card.large {
    margin: 20px;
    background: #e3e3e3;
}

.card-image img{
    height: 250px; 
    overflow: hidden;
}

.card_text {
    color: #f77754;
}

.col {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.categories-row {
    width: 90%;
}

.add-row {
    width: 70%;
}

.row-short{
    width: 40%;
}

/* ------------------------------------ Recipe page */

.recipe-head{
    text-align: center;
}

.back-arrow{
    color: black;
} 

.recipe_header {
    text-align: center;
    color: #f77754;
}

.instructions {
    text-align: center;
    color: #f77754;
}

.ingredients {
    text-align: center;
    color: #f77754;
}

.back_to_recepies {
    margin-top: 15px;
}

.recipe-buttons {
    text-align: center;
    padding: 50px;
}


/*-----------------------------Footer */


.social-links {
    text-align: center;
}

.social-links li a i {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    padding: 18px 0;
    font-size: 23px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.list-inline-item {
    display: inline-flex;
    padding-right: 20px;
}

.all-rights {
    text-align: center;
    color: #8f8f8f;
    font-size: 16px;
}

/* -------------------------------- Cooking tools */

.cooking-tools-title {
    text-align: center;
    color: #fafafa;
    font-size: 20px;
    padding-top: 60px;
}

.discount {
    text-align: center;
}

/* ---------------------------- Shop page */

.shop-header {
    text-align: center;
    color: #fafafa;
}