<hr>
<div class=" footer container-fluid">
        <div class="row">
            <ul class="list-inline social-links">
                <li class="list-inline-item">
                    <a target="_blank" href="https://www.facebook.com/gergo.okos">
                                <i class="fab fa-facebook" aria-hidden="true"></i>
                                <span class="sr-only">Facebook</span>
                            </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="https://github.com/DiGergo">
                                <i class="fab fa-github" aria-hidden="true"></i>
                                <span class="sr-only">GitHUb</span>
                            </a>
                </li>
            </ul>
            <p class="all-rights">All rights reserved &copy; Gergo Okos 2020</p>
        </div>
    </div>