{% extends 'base.html' %}
{% block content %}

<h1 class="shop-header">Order anything and get it delivered within two days!</h1>

<div class="row">
    <div class="col s12 m4">
        <img src="../static/images/knife.jpg"
        <p>Best knifes on the market! </p>
    </div>
    <div class="col s12 m4">
        <img src="../static/images/pan.jpg"
    </div>
    <div class="col s12 m4">
        <img src="../static/images/cooking-supplies.jpeg"
    </div>
</div>


{% endblock %}

{% block footer %} {% include 'includes/footer.html' %} {% endblock %}