{% extends 'base.html' %}
{% block content %}
<h1 class="shop-header" >Search our shop for anything you might need in your kitchen.</h1>
<h2 class="shop-header">Order anything and get it delivered within two days!</h2>
<div class="container">
    <div class="row">
        <div class="col s12 m4">
            <img class="shop-item" src="../static/images/knife.jpg"
            <p>Best knifes on the market! </p>
        </div>
        <div class="col s12 m4">
            <img class="shop-item" src="../static/images/pan.jpg"
            <p>PAAAAAns</p>
        </div>
        <div class="col s12 m4">
            <img class="shop-item" src="../static/images/cooking-supplies.jpeg"
            <p>Everything you need to make delicious food!</p>
        </div>
    </div>
</div>


{% endblock %}

{% block footer %} {% include 'includes/footer.html' %} {% endblock %}