{% extends 'base.html' %}
{% block content %}
<h3 class="shop-header" >Search our shop for anything you might need in your kitchen.</h2>
<h4 class="shop-header">Order anything and get it delivered within two days!</h3>
<div class="container">
    <div class="row">
    <div class="col l4 m5 s10">
        <div>
            <img class="shop-item" src="../static/images/knife.jpg">
            <h3>Knife</h3>
            <p class="price">$29.99</p>
            <p><button>Add to Cart</button></p>
        </div>
    </div>
    <div class="col l4 m5 s10">
        <div>
            <img class="shop-item" src="../static/images/pan.jpg">  
            <h3>Pan</h3>
            <p class="price">$19.99</p>
            <p><button>Add to Cart</button></p>
        </div>
    </div>    
    <div class="col l4 m5 s10">    
        <div>
            <img class="shop-item" src="../static/images/cooking-supplies.jpeg">
            <h3>Supplies</h3>
            <p class="price">$39.99</p>
            <p><button>Add to Cart</button></p>
        </div>
    </div>
    <div class="col l4 m5 s10">    
        <div>
            <img class="shop-item" src="../static/images/cooking-supplies.jpeg">
            <h3>Tools</h3>
            <p class="price">$49.99</p>
            <p><button>Add to Cart</button></p>
        </div>
    </div>
    </div>
    <div class="row">
        <h4 class="shop-header">To order anything contact our sales team on 07777.123.456</h4>
    </div>
</div>


{% endblock %}

{% block footer %} {% include 'includes/footer.html' %} {% endblock %}